ContactsManager/.vs

ContactsManager/ContactsManager.ControllerTests/bin
ContactsManager/ContactsManager.ControllerTests/obj

ContactsManager/ContactsManager.Core/bin
ContactsManager/ContactsManager.Core/obj

ContactsManager/ContactsManager.Infrastructure/bin
ContactsManager/ContactsManager.Infrastructure/obj
ContactsManager/ContactsManager.Infrastructure/Migrations

ContactsManager/ContactsManager.IntegrationTests/bin
ContactsManager/ContactsManager.IntegrationTests/obj

ContactsManager/ContactsManager.ServiceTests/bin
ContactsManager/ContactsManager.ServiceTests/obj

ContactsManager/ContactsManager.UI/bin
ContactsManager/ContactsManager.UI/obj

ContactsManager/ContactsManagerDb.mdf
ContactsManager/ContactsManagerDb.ldf